#!/bin/bash
# Description:	Check filesystem and expand if if necessary.
# Author:	Lesovsky A.V. lesovsky@pgco.me
# TODO:	1. Send email if fs expanded or fails.

export PATH="/bin:/sbin:/usr/bin:/usr/sbin"

thresh={{ item.thresh }}
target_fs="{{ item.mountpoint }}"
target_vg="{{ item.vg_name }}"
target_lv="{{ item.lv_name }}"
aws_metadata_uri="http://169.254.169.254/latest/meta-data"

# aws answers
cv_answer="/tmp/aws-create-volume.answer"
av_answer="/tmp/aws-attach-volume.answer"
bdev_prefix="xvd"

n_bdev=$(ls -1 /sys/block/ |grep -c $bdev_prefix)
[[ $n_bdev -ge 26 ]] && { echo "${0##*/}: Too many block devices. Exit."; exit 1; }
pused=$(df  --no-sync --local --output=pcent $target_fs |tail -n 1 |tr -d %" ")
[[ $pused < $thresh ]] && { exit 0; }

# if volume size not specified, use current volume size
size=${1:-$(lvs --noheadings --nosuffix --units=g -o lv_size $target_vg/$target_lv |cut -d. -f1 |cut -d, -f1 |tr -d " ")}

# get availability zone ane instance id from instance metadata.
zone=$(curl --silent $aws_metadata_uri/placement/availability-zone)
instance_id=$(curl --silent $aws_metadata_uri/instance-id)
[[ -z $zone ]] && { echo "${0##*/}: availabilty zone is unknown."; exit 1; }
[[ -z $instance_id ]] && { echo "${0##*/}: instance id is unknown."; exit 1; }

# create volume
aws ec2 create-volume --size $size --volume-type gp2 --availability-zone $zone > $cv_answer
volume_id=$(grep -w VolumeId $cv_answer |cut -d: -f2 |tr -d \"," ")
[[ -z $volume_id ]] && { echo "${0##*/}: volume id is unknown, something goes wrong."; exit 1; }
aws ec2 wait volume-available --volume-ids $volume_id
echo "created  : OK"

# assemble volume name
last_bdev=$(ls -1 /sys/block/ |grep $bdev_prefix |sort |tail -n 1)
X=$(echo "${last_bdev: -1}" | tr "0-9a-z" "1-9a-z_")		# increment letter
new_bdev="/dev/$bdev_prefix$X"

# attach volume
aws ec2 attach-volume --volume-id $volume_id --instance-id $instance_id --device $new_bdev > $av_answer
aws ec2 wait volume-in-use --volume-ids $volume_id

# check block device existance
a="0"
while [ ! -e /sys/block/$bdev_prefix$X ]
do
   [[ $a -gt 60 ]] && { echo "${0##*/}: Can't found /sys/block/$bdev_prefix$X. Exit."; exit 1; }
   a=$[$a+1]
   sleep 1
done
echo "attached : OK"

# add new device into PV and expand LV
pvcreate $new_bdev >/dev/null && echo "pvcreate : OK" || { echo "${0##*/}: pvcreate failed, something goes wrong."; exit 1; }
vgextend $target_vg $new_bdev >/dev/null && echo "vgextend : OK" || { echo "${0##*/}: vgextend failed, something goes wrong."; exit 1; }
lvextend -l+100%FREE -n /dev/$target_vg/$target_lv >/dev/null && echo "lvextend : OK" || { echo "${0##*/}: lvextend failed, something goes wrong."; exit 1; }

resize2fs /dev/$target_vg/$target_lv >/dev/null && echo "resize2fs: OK" || { echo "${0##*/}: resize2fs failed, something goes wrong."; exit 1; }

echo "success."
